<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Rok urodzenia</th>
    </tr>
    <tr th:each="director : ${directors}">
        <td th:text="${director.director_id}"></td>
        <td th:text="${director.name}"></td>
        <td th:text="${director.lastName}"></td>
        <td th:text="${director.born}"></td>
    </tr>
</table>
</body>
</html>