<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Film</title>
</head>
<body>
<h1>Dodaj Film</h1>
<form th:action="@{/dodaj-film}" method="post">
    <label for="name">Tytuł:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Typ:</label>
    <input type="text" id="description" name="description" required>

    <!---->
    <label for="premier_date">Czas trwania:</label>
    <input type="date" id="premier_date" name="premier_date" required>

    <button type="submit">Dodaj Film</button>
</form>
</body>
</html>