<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Film</title>
</head>
<body>
<h1>Dodaj Film</h1>
<form th:action="@{/dodaj-film}" method="post">
    <label for="name">Tytuł:</label>
    <input type="text" id="name" name="name" required>

    <label for="type">Typ:</label>
    <input type="text" id="type" name="type" required>

    <label for="duration">Czas trwania:</label>
    <input type="number" id="duration" name="duration" required>

    <button type="submit">Dodaj Film</button>
</form>
</body>
</html>
